**/target
**/node_modules
*.iml
*.idea
**/WebApi/bin
**/WebApi/obj
**/WebApi/Modules
**/WebApi/App_Data
**/WebApi/.vs
**/VipaIntgr/bin
**/VipaIntgr/obj
**/VipaIntgr/Modules
**/VipaIntgr/App_Data
**/VipaIntgr/.vs
**/VipaSrvc/bin
**/VipaSrvc/obj
**/VipaSrvc/Modules
**/VipaSrvc/App_Data
**/VipaSrvc/.vs